html {
  background-color: $color_light;
  font-family: $font_primary;
  font-size: 62.5%;
  line-height: 1.1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
}

body {
  font-size: 1.6rem;
  margin: 0px;
  transition: opacity 0.6s;

  #page {
    color: $color_dark;
    min-height: 100vh;

    &.page-loaded {
      opacity: 1 !important;
    }

    #header-wrapper {
      width: 100%;
      padding: 0px 20px;
      background-color: rgba($color: $color_white, $alpha: 0.8);
      box-shadow: 1px 1px 7px 1px rgba($color: $color_dark_gray, $alpha: 0.7);
      z-index: 9;
      position: relative;

      p,
      ul {
        margin: 0px;
      }

      .logo {
        max-width: 250px;

        img {
          width: 100%;
        }
      }

      .navbar {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 20px 0px;

        .logo {
          a {
            width: 250px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .nav_menu {
          display: none;
          justify-content: center;
          align-items: center;

          .menu-main-menu-container {
            .main-menu-list {
              list-style: none;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 25px;
            }
          }

          .toggle_theme {
            margin-left: 25px;
            font-weight: 600;
            cursor: pointer;
          }
        }

        .main-menu {
          display: flex;

          ul {
            padding: 0px;
            list-style: none;
            li {
              display: table;
              margin-right: 10px;
              margin-bottom: 10px;
              &:last-of-type {
                margin-right: 0px;
              }
            }
          }

          .hamburguer {
            position: relative;
            width: 24px;
            height: 20px;
            margin: auto;
            cursor: pointer;
            z-index: 2;

            span {
              display: block;
              position: absolute;
              height: 2px;
              width: 100%;
              background: $color_secondary;
              border-radius: 9px;
              opacity: 1;
              left: 0;
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
              -webkit-transition: 0.25s ease-in-out;
              -moz-transition: 0.25s ease-in-out;
              -o-transition: 0.25s ease-in-out;
              transition: 0.25s ease-in-out;
              &:nth-child(1) {
                top: 0px;
              }
              &:nth-child(2),
              &:nth-child(3) {
                top: calc(50% - 1px);
              }
              &:nth-child(4) {
                bottom: 0px;
              }
            }
            & + .aside-menu {
              position: fixed;
              right: 0px;
              top: 0;
              height: 100vh;
              width: 0;
              max-width: 100%;
              overflow: hidden;
              transition: 0.5s;
              background-color: rgba($color: $color_white, $alpha: 0.5);
              backdrop-filter: blur(10px);
              opacity: 0;
              padding: 77px 30px 20px 30px;
            }
            &.open {
              span {
                &:nth-child(1) {
                  top: 50%;
                  width: 0%;
                  left: 50%;
                }
                &:nth-child(2) {
                  -webkit-transform: rotate(45deg);
                  -moz-transform: rotate(45deg);
                  -o-transform: rotate(45deg);
                  transform: rotate(45deg);
                }
                &:nth-child(3) {
                  -webkit-transform: rotate(-45deg);
                  -moz-transform: rotate(-45deg);
                  -o-transform: rotate(-45deg);
                  transform: rotate(-45deg);
                }
                &:nth-child(4) {
                  bottom: 50%;
                  width: 0%;
                  left: 50%;
                }
              }
              & + .aside-menu {
                width: 300px;
                opacity: 1;
                z-index: 1;
              }
            }
          }
        }

        @include lg {
          .nav_menu {
            display: flex;
          }

          .main-menu {
            display: none;
          }
        }
      }
    }

    a {
      color: $color_dark;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    @include lg {
      #header-wrapper {
        position: relative;

        &.fixed-header {
          position: fixed;
          top: 0;
          left: 0;
          padding: 0px 10px;
          animation: StickyHeader 0.6s linear forwards;
        }
      }
    }
  }

  #footer-wrapper {
    padding: 10px 0px;
    color: $color_secondary;
  }

  &.dark-theme {
    background-color: $color_dark;

    #page {
      color: $color_light;

      #header-wrapper {
        width: 100%;
        background-color: rgba($color: $color_dark, $alpha: 0.8);
        box-shadow: 1px 1px 7px 1px rgba($color: $color_medium_gray, $alpha: 0.7);

        .navbar {
          > div {
            &.main-menu {
              .hamburguer {
                span {
                  background: $color_light;
                }
                & + .aside-menu {
                  background-color: rgba($color: $color_black, $alpha: 0.5);
                }
              }
            }
          }
        }
      }
      a {
        color: $color_light;
      }
    }

    #footer-wrapper {
      color: $color_white;
    }
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  min-height: 42px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: $font_primary;
  border-radius: 10px;
  border: 2px solid $color_primary;
  background-color: $color_primary;
  color: $color_white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
